section.flex {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   border: 1px double gainsboro;
   height: 60vh;
   /*Alineacion en el eje principal*/
   justify-content: center;
   /*Alineacion en el eje secundario*/
   align-items: flex-start;

   /*Alineacion entre filas */
   align-content: flex-end

}

p.item {
    margin: 1rem 0rem;
    padding: 1rem;
    background-color: coral;
    border: 1px solid;
}

p.item:nth-child(4) {
    padding: 2rem 1rem;
    font-size: 3rem;
    order: 1;
}