
.menu ol, .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: inherit;
    text-decoration: none;    
}
.social-menu {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem
}

.social-menu li {
    display: inline;
}