*, *::after, *::before, *:after, *:before {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    color: bisque;
    padding: 2rem;
    font-family: 'Permanent Marker', cursive;
}

.sticky-header {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.main-header h1,
.sticky-header h1 {
    margin: 0;
    padding: 0;
}

.main-header p {
    margin-bottom: 0;
    margin-top: 0.2rem;
    visibility: hidden;
}

.sticky-header p {
    display: none;
}

.main-header:hover p {
    /* display: initial; */
    visibility: initial;
}

.menu ol, .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: inherit;
    text-decoration: none;    
}

.main-menu {
    border: 1px solid;
    border-radius: 5px;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    display: block;
    padding: 1rem;
}

.sticky-header .main-menu a {
    padding: 0.2rem 1rem;
}

.menu .activo {
    color: goldenrod;
}

/* Layout con display flex */
 
.content-wrapper {
    margin: 2rem;
    display: flex;    
}

.main-content {
    width: 70%; 
    /*Atajo para flex-grow, flex-shrink flex-basis*/
    /* flex: 3 1 10%; */
    background-color: bisque;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-aside {
    width: 30%;
    /*  flex: 1 3 10%; */
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: gainsboro;
    border: 1px solid
}

/* CSS de la tabla*/

table {
    width: 100%;
    empty-cells: hide;
    border-collapse: collapse;
}

table:hover {
    border-collapse: separate;
}

td, th {
    border: 1px solid;
}


/* CSS del footer*/

.main-footer {
    background-color: brown;
    color: bisque;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.social-menu {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem
}

.social-menu li {
    display: inline;
}