.icon {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.completed {
    color: brown;
    text-decoration: line-through;
    text-decoration-color: bisque;
}

.oculto {
    display: none;
}