:host {
    display: block;
    width: 50%;
    margin-bottom: 1rem;
}

div label{
    width: 100%;
    margin-top: 0.5rem;
}
div input,
div textarea {
    width: 100%;    
    margin-bottom: 0.5rem;
}