body {
    margin: 0;
    padding: 0;
}

body>header {
    background-color: brown;
    color: bisque;
    padding: 2rem;
}

body>header  h1 {
    margin: 0;
    padding: 0;
}

body>header p {
    margin-bottom: 0;
    margin-top: 0.2rem;
}

/* .content-wrapper */
body>div {
    margin: 2rem;
}

body>footer {
    background-color: brown;
    color: bisque;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}