body {
    background-color: bisque;
}

.h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.content-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
}

.verde {
    color: darkgreen;
}