/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.component {
    margin-top: 2rem;
    width: 50%;
}

.component header {
    color: brown;
    background-color:  bisque;
}

.component h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.component footer {
    margin-top: 1rem;
    margin-bottom: 1rem;    
    background-color: gainsboro;
    padding: 0.5rem;

}

.control-group label, 
.control-group input {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}